PORT=5002
DB_HOST=127.0.0.1
DB_PORT=3309
DB_NAME=ai_chatbot
DB_USER=root
DB_PASSWORD=password123
PMA_PORT=8090

# AI Provider Credentials (Kept secure on backend)
HF_TOKEN=
HF_API_KEY=
HF_MODEL=Qwen/Qwen2.5-72B-Instruct:fastest

OPENROUTER_API_KEY=
OPENROUTER_MODEL=nex-agi/nex-n2.5-mini:free

BOTPRESS_BOT_ID=
BOTPRESS_API_KEY=
BOTPRESS_WORKSPACE_ID=

CLIENT_URL=http://localhost:5173
